@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(233, 47%, 7%);
  height: 100vh;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  flex-direction: column;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 25px;
}
h1,
h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
span {
  color: hsl(277, 64%, 61%);
}

.card {
  height: 80vh;
  background-color: hsl(244, 38%, 16%);
  border-radius: 10px;
  text-align: center;
  margin: 25px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.header__image {
  background-image: linear-gradient(#9d55ca8f, #9e55ca8f),
    url(./images/image-header-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  min-height: 35%;
}

.content {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 65%;
}
.content__text {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}
.content__text h1 {
  margin-bottom: 25px;
}
.content__state {
  display: flex;
  flex-direction: column;
}
.content__state--position {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 600px) {
  body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
  }
  .card {
    max-height: 80%;
    min-width: 80%;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
  }
  .header__image {
    background-image: linear-gradient(#9d55ca8f, #9e55ca8f),
      url(./images/image-header-mobile.jpg);
    border-top-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
    min-width: 50%;
  }
  .content {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 150px 50px 50px;
  }
  .content__text {
    text-align: start;
  }
  .content__text h1 {
    margin-bottom: 25px;
  }
  .content__state {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
